.Main {
  .navBar {
    background-color: grey;
    height: 50px;
  }

  .mainBody {
    margin: 0;
    position: relative;
    display: flex;
    background-color: #fcfcfd;

    .cardsContainer {
      width: 840px;
      margin: 0 auto;

      // background-color: ;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 65px;
      border-radius: 8px;



    }
  }
}