.Main {
  .navBar {
    background-color: grey;
    height: 50px;
  }

  .mainBody {
    margin: 0;
    position: relative;
    display: flex;

    .cardsContainer {
      width: 840px;
      margin: 0 auto;
      background-color: #fcfcfd;
    }
  }
}