// * {
//   -webkit-font-smoothing: antialiased;
// }
.create {
  display: block;

  .center {
    padding: 60px 0 100px;
    background-color: #fdfdfd;
    color: #263646;
    font-family: rubik, arial;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      justify-content: center;

      &.black {
        color: #263646;
      }

      &.red {
        color: red;
      }
    }

    .box {
      width: 400px;
      height: 400px;
      position: relative;

      input {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 0;
        border: none;

        &::-webkit-color-swatch-wrapper {
          padding: 0;
        }

        &::-webkit-color-swatch {
          border: none;
        }
      }

      .first {
        height: 400px;
        border-radius: 20px 20px 4px 4px;
      }

      .second {
        height: 340px;
        border-radius: 20px 20px 0 0;
      }

      .third {
        height: 268px;
        border-radius: 20px 20px 0 0;
      }

      .fourth {
        height: 164px;
        border-radius: 4px 4px 0 0;
      }
    }

    .buttonup {
      margin-top: 20px;
      line-height: 35px;
      padding: 0 12px;
      display: inline-block;
      border-radius: 4px;
      cursor: pointer;
      box-sizing: border-box;
      text-align: center;
      background-color: #fff;
      border: 1px solid #e9f2f9;
      font-size: 14px;
      position: relative;
    }
  }
}